<h1 mat-dialog-title>Edit Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.task.title" disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.task.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Effort</mat-label>
    <input matInput type="number" placeholder="Effort Required" class="form-control mb-3" name="Effort" formControlName="effortRequired" min="1" required>

    <!-- <input matInput [(ngModel)]="data.task.effortRequired" min="1"> -->
  </mat-form-field>
  <form [formGroup]="taskForm">
    <mat-form-field class="w-100 mb-3">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate" [(ngModel)]="data.task.startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-100 mb-3">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate" [(ngModel)]="data.task.endDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      <mat-error *ngIf="taskForm.get('endDate').hasError('endDateInvalid')">
        End date must be equal to or after the start date.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-3">
      <mat-label>Reminder</mat-label>
      <input matInput [matDatepicker]="reminderPicker" formControlName="reminderDate" [(ngModel)]="data.task.reminderDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="reminderPicker"></mat-datepicker-toggle>
      <mat-datepicker #reminderPicker></mat-datepicker>
      <mat-error *ngIf="taskForm.get('reminderDate').hasError('reminderDateInvalid')">
        Reminder date must be between start date and the end date.
      </mat-error>
    </mat-form-field>
  </form>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(value)]="data.task.status">
      <mat-option value="COMPLETED">Completed</mat-option>
      <mat-option value="IN_PROGRESS">In Progress</mat-option>
      <mat-option value="PENDING">Pending</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="data.task.category">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.task" [disabled]="taskForm.invalid">Save</button>
</div>