.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; /* Adjust as needed */
}
.card {
    max-width: 450px; /* Adjust as needed */
    width: 100%;
    margin: 0 auto; /* Center the card */
}
.card-body {
    max-width: 600px; /* Adjust as needed */
    width: 100%;
    height:auto;
    padding: 10px; /* Optional: Add padding for better appearance */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better appearance */
    background-color: #b4e7df; /* Optional: Add background color */
}
.form-row {
    display: flex;
    gap: 16px; /* Adjust the gap between the fields as needed */
}

.form-row .mat-form-field {
    flex: 1; /* Make the fields take equal space */
}