<div class="card shadow">
    <h5 class="card-header">My Todo List</h5>
    <div class="card-body">
        <div class="card-container">
            <div *ngFor="let task of dataSource.data" class="mat-elevation-z8">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ task.title }}</mat-card-title>
                        <mat-card-subtitle>
                            <mat-chip-list>
                                <mat-chip color="primary" selected>{{ task.category }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-subtitle>
                        <mat-icon *ngIf="task.status === 'COMPLETED'" color="primary">check_circle</mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ task.description }}</p>
                        <p><strong>Effort:</strong> {{ task.effortRequired }}</p>
                        <p><strong>Status:</strong> {{ task.status }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>